/* Classe body - estilo para o corpo do documento */
body {
  background-color: #f2f2f2;
  font-family: normal;
  width: none;
}

#drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  background-color: #F2F2F2;
  transition: transform 1s;
  transition: left 0.9s;
}

#drawer.closed {
    left: -720px;
}

#drawer.open {
  right: 20px;
  color: white;
  font-size: 24px;
  left: 0;
}

header {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0);
  height: 35px;
}

.abrir {
  position: absolute;
  border: none;
  border-radius: 20%;
  box-shadow: 0 0 4px #666;
  font-size: 15px;
  width: 34px;
  height: 33px;
}

.btnSair {
  font-size: 18px;
  color: white;
  position: absolute;
  right: 0%;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}

img {
  width: 100%;
  height: none;
}

/* Estilos para tag */
i {
  font-style: normal;
}

/* Classe accordion - estilo para os acordeões */
.accordion {
  background-color: #EEE;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px #666;
  color: black;
  cursor: none;
  font-weight: bold;
  outline: none;
  padding: 15px;
  text-align: left;
  transition: 0.0s;
  width: 100%;
}

/*Classe mlink*/
.mlink {
	font-size: 17px;
	color: none;
}

/* Estilos para o botão de contatos */
#open-drawer {
  width: 35px;
  height: 34px;
  font-size: 18px;
  color: #666;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  border-radius: 20%;
  cursor: none;
  box-shadow: 0 0 4px #666;
}

/* Estilos para ícone (+) do acordeão */
.accordion::after {
  content: '\002B';
  float: right;
  transition: transform 0.3s;
  font-size: 18px;
}

/* Estilos para o botão de acordeão ativo */
.accordion-button,
.active::after {
  content: '\002B';
  float: right;
  transform: rotate(46deg);
  font-size: 18px;
}

/* Classe accordion-content - estilo para o conteúdo dos acordeões */
.accordion-content {
  display: none;
  padding: 10px;
}

/* Classe active - estilo para acordeão ativo */
.active,
.accordion:hover {
  background-color: none;
}

/* Estilos para o botão de dropdown */
.dropbtn {
  width: 35px;
  height: 34px;
  padding: none;
  position: none;
  top: none;
  right: none;
  color: #333;
  cursor: none;
  border: none;
  border-radius: 20%;
  box-shadow: 0 0 4px #666;
  background-color: rgba(0, 0, 0, 0.0);
}

.dark .btnSair {
  font-family: serif;
  font-size: 20px;
  position: absolute;
  right: 0%;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}

.dark .lista {
	color: #C6C2C6;
}

/*Classe mlink estilo dark */
.dark .mlink {
	font-size: 17px;
	font-family: serif;
	color: #C25;
}

.dark #drawer {
  background-color: #F2F2F2;
}

.dark #drawer.closed {
  background-color: #29272C;
}

.dark #drawer.open {
  background-color: #29272C;
  color: #C6C2C6;
  font-size: 24px;
  font-family: serif;
}

.dark b {
  color: #C25;
}

/* Classe dark - estilo para o tema escuro */
.dark {
  background-color: #29272C;
  border: none;
  color: #C6C2C6;
  font-family: serif;
}

/* Classe dark .dropbtn - estilo para o botão do tema escuro quando existe dropdown*/
.dark .dropbtn {
  width: 35px;
  height: 34px;
  padding: none;
  position: none;
  top: none;
  right: none;
  background-color: rgba(0, 0, 0, 0.0);
}

/* Classe dark h2 - estilo para o cabeçalho h2 do tema escuro */
.dark h2 {
  font-family: serif;
  font-size: 20px;
  text-align: center;
  color: #C6C2C6;
}

.dark #open-drawer {
  background-color: #29272C;
  color: #C6C2C6;
  font-size: 24px;
  font-family: serif;
}

/* Classe dark .fonte - estilo para a opção de alterar a fonte no tema escuro */
.dark .fonte {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px #666;
  color: #C6C2C6;
  font-family: serif;
  position: relative;
  width: 25px;
}

/* Classe dark .theme-icon - estilo para o ícone do tema no tema escuro */
.dark .theme-icon {
  border: none;
  border-radius: 20%;
  box-shadow: 0 0 4px #666;
  color: #C6C2C6;
  cursor: none;
  font-size: 24px;
  height: 33px;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 34px;
}

/* Classe dark .dropbtn::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .dropbtn::before {
  content: url("light.webp");
}

/* Classe dark .theme-icon::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .theme-icon::before {
  content: url("light.webp");
}

/* Classe img-3 - estilo dark para a imagem */
.dark .img-3 {
  padding: 0px 1px;
  width: 4%;
  border-radius: 10px;
  background-color: #C25;
  box-shadow: 0 0 4px #666;
}

/* Classe img-4 - estilo dark para a imagem */
.dark .img-4 {
  padding: 0px 1px;
  width: 5%;
  border-radius: 10px;
  background-color: #C25;
  box-shadow: 0 0 4px #666;
}

/* Classe img-5 - estilo dark para a imagem */
.dark .img-5 {
  padding: 0px 0px;
  width: 5%;
  border-radius: 10px;
  background-color: #C25;
  box-shadow: 0 0 4px #666;
}

/* Classe dropdown - estilo para o dropdown */
.dropdown {
  display: inline-block;
  position: absolute;
  right: none;
  top: none;
  transform: translate(25%, 0%);
}

/* Classe dropdown-content - estilo para o conteúdo do dropdown */
.dropdown-content {
  background-color: #EEE;
  border: none;
  border-radius: none;
  box-shadow: 0 0 4px #666;
  display: none;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  width: 18px;
  z-index: 1;
}

/* Classe dropdown-content a - estilo para os links dentro do dropdown */
.dropdown-content a {
  color: #666;
  display: block;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
}

/* Classe dropdown:hover .dropdown-content - estilo para exibir o conteúdo do dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
  transition: transform 1s;
}

/* Classe fonte - estilo para a opção de alterar a fonte */
.fonte {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px #666;
  color: #333;
  cursor: none;
  height: none;
  padding: 5px;
  position: none;
  right: none;
  top: none;
  transform: translate(2px, 2px);
  width: 25px;
  background-color: rgba(0, 0, 0, 0.0);
}

/* Classe h2 - estilo para o cabeçalho h2 */
h2 {
  font-family: none;
  font-size: 20px;
  text-align: center;

}

/* Classe img-2 - estilo para a imagem */
.img-2 {
  box-shadow: 0 0 20px #666;
  width: 80%;
}

/* Classe img-3 - estilo para a imagem */
.img-3 {
  padding: 0px 1px;
  width: 4%;
}

/* Classe img-4 - estilo para a imagem */
.img-4 {
  padding: 0px 1px;
  width: 5%;
}

/* Classe img-5 - estilo para a imagem */
.img-5 {
  padding: 0px 0px;
  width: 5%;
}

/* Classe panel - estilo para o painel */
.panel {
  background-color: none;
  border: none;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 4px #666;
  display: none;
  overflow: hidden;
  padding: 0 18px;
}

/* Classe theme-icon - estilo para o ícone do tema */
.theme-icon {
  border: none;
  border-radius: 20%;
  box-shadow: 0 0 4px #666;
  color: #333;
  cursor: none;
  font-size: 24px;
  height: 33px;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 34px;
}

/* Classe theme-icon::before - estilo para o ícone do tema antes do conteúdo */
.theme-icon::before {
  content: url("dark.webp");
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.0);
  height: 7%;
  padding: 10px;
}

/* Classe dark .dropbtn::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .dropbtn::before {
  content: url("fonte_light.webp");
  font-size: 15px;
}

/* Classe dropbtn::before - estilo para o ícone do tema antes do conteúdo */
.dropbtn::before {
  content: url("fonte_dark.webp");
  font-size: 15px;
}

/* Classe dark .theme-icon::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .theme-icon::before {
  content: url("light.webp");
}

/* Classe dark .dropbtn::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .dropbtn::before {
  content: url("light.webp");
}

/* Classe dark .theme-icon::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .theme-icon::before {
  content: url("light.webp");
}

.dark header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.0);
  height: 50px;
  padding: 10px;
}

/* Classe panel - estilo para o painel */
.panel {
  background-color: none;
  border: none;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 0 4px #666;
  display: none;
  overflow: hidden;
  padding: 0 18px;
}

/* Classe theme-icon - estilo para o ícone do tema */
.theme-icon {
  border: none;
  border-radius: 20%;
  box-shadow: 0 0 4px #666;
  color: #333;
  cursor: none;
  font-size: 24px;
  height: 33px;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 34px;
}

/* Classe theme-icon::before - estilo para o ícone do tema antes do conteúdo */
.theme-icon::before {
  content: url("dark.webp");
  font-size: 15px;
}

/* Classe dark .dropbtn::before - estilo para o ícone do tema escuro antes do conteúdo */
.dark .dropbtn::before {
  content: url("fonte_light.webp");
  font-size: 15px;
}

.dark .theme-icon::before {
  content: url("light.webp");
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: transform 1s;
}

.btnSair {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 0%;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
}

img {
  width: 100%;
  height: none;
}

.search-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
}

.search-input {
  width: 98%;
  height: 34px;
  background-color: none;
  outline: none;
  border: none;
  border-radius: 1%;
  box-shadow: 0 0 4px #666;
  color: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(lupaicon_r0.png) no-repeat center;
  background-size: 100%;
  cursor: none;
}

#itemsList {
  font-size: 12px;
  color: black;
  margin-left: 40px;
  }
}
